.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #080808;
    z-index: -1;
}

.nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
    z-index: 5;
}

.hamburger {
    justify-self: end;
}

#logo {
    width: 100%;
    position: absolute;
    transform: rotate(-45deg) translateY(-30%);
    z-index: 0;
    top: 0;
    left: 0;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.photo--section {
    height: 60%;
    width: 28%;
    z-index: 0;
}

.photo--section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top:80%;
    left: 38%;
    font-size: 100px;
    transform: translate(5%, -70%);
    color: white;
    z-index: 3;
    animation: left-to-right 5s linear forwards;
}

.mouse-scroll {
    width: 20px;
    height: 35px;
    border-radius: 20px;
    position: absolute;
    top: 90vh;
    left: calc(50% - 10px);
    border: 1px solid white;
    justify-content: center;
    align-content: center;
    .mouse-line {
        margin-left: 8px;
        margin-top: 5px;
        width: 2px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15,.41,.69,.94);
        animation-iteration-count: infinite;
    }
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

