// Rubik
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$bg: rgb(15, 15, 15);
$main: rgb(183, 118, 0);
$white: rgb(255, 255, 255);
$roboto: 'Roboto', sans-serif;
$rubik: 'Rubik', sans-serif;
